<span><b>Latitude: </b></span>
<input type="number" class="form-control input-lg" ng-model="mobile_activity.lat">
<br/>
<span><b>Latitude: </b></span>
<input type="number" class="form-control input-lg" ng-model="mobile_activity.lon">
<br/>
<span><b>Month: </b></span>
<input type="number" class="form-control input-lg" ng-model="mobile_activity.timestep">
<br/>
<span><b>Activity: </b></span>
<input type="number" class="form-control input-lg" ng-model="mobile_activity.count">
<br/>
<button ng-click="submitData()" class='btn-lg'>SUBMIT DATA</button>
<br/>
<br/>
<button ng-click="addData()" class='btn-lg'>ADD DATA</button>