<div class="sidenav container-fluid">
  <div style="padding-left: 10px;">
    <span style="font-size: 40px;">WHO Suicide Statistics</span>
  </div>
  <hr align="left">
  <div style="padding-left: 10px;">
    <div class="text-center">
      <span style="font-size: 30px;font-weight: 40;">General Information </span>
      <br/>
        <span style="font-size: 20px;"></span>
    </div>
    <br/>
  </div>
<hr align="left">
<div class="text-center">
      <span style="font-size: 30px;font-weight: 40;">Select Year </span>
{{> timeline}}
</div>
  
</div>