<!DOCTYPE html>
<html>
<head>
	<title>Add Data</title>
</head>
<body ng-app="gisApp" ng-controller="AddDataController" style="background-color: black;">
	<div class='container text-center'>
		<h1 style="color: white;">Mobile Activity Data</h1>
		<hr/>
		{{> add-data}}
		
	</div>

</body>
</html>