<!DOCTYPE html>
<html>
<head>
	<title>GIS</title>
	
	<meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
</head>
<body ng-app="gisApp" ng-controller="IndexController" ng-init="initData()">
	<div class="wrapper">
							
		{{> sidenavbar}}

		{{> map}}

		<div class="push"></div>

	</div>

</body>

</html>